@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
  background-color: #faf8ff;
  font-family: var(--font-roboto), Roboto, sans-serif;
}
